* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}

html {
    scroll-behavior: smooth;

}

body {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
header {
    display: flex;
    justify-content: space-evenly;
    height: 10vh;
    min-height: 5rem;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 20px ;
}

.logo  {
    text-decoration: none;
    color: white;
    font-family: 'Satisfy', cursive;
    font-size: 2rem;
    flex: 1 1 40rem;
}


.nav-list {
    list-style: none;
    flex: 1 1 40rem;
    padding-bottom: 0.3rem;

}

.nav-list ul {
    display: flex;
    justify-content: space-evenly;
}

.nav-list li {
    display: inline-block;
    padding: 0 20px;
    position: relative;

}

.nav-list li div {
    position: absolute;
}
.nav-list li div span {
    color: white;
    font-size: 1.3rem;
    opacity: 0;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.nav-list li a:hover {
    font-size: 24px;
    transition: all 0.3s ease-out;
}

.nav-list li:hover div span {
    transition: all 0.3s ease-out;
    opacity: 1;
}




.contact-me-button {
    padding: 6px 10px;
    color: black;
    border-radius: 5px;
}

.contact-me-button:hover {
    background-color: black;
    transition: all 0.5s ease-in-out;
}

.home {
    height: 100vh;
    display: flex;
}

.home-text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 1 40rem;
    text-align: center;
}

.home-text h3 {
    padding: 20px 0;
}
.home-img {
    display: flex;
    justify-content: center;
    flex: 1 1 40rem;

}

.home-img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}


.mywork-button {
    padding: 1rem 3rem;
    background-color: black;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;

}
.mywork-button:hover {
    background-color: white;
    border: 1px solid black;
    
}

.mywork-button:hover a {
    color :black;
}

.mywork-button a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.mywork {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);

}

.mywork img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.about {
    height: 25rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.about img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 2rem;
}

.about p {
    text-align: center;
    padding: 10px 30px;
}

.contact {
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact ul {
    list-style: none;
}

.contact ul li {
    display: inline-block;
    padding: 0 1.5rem;
    margin-bottom: 1.5rem;
}

#myBtn {
    display: flex;
    align-items: center;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: grey;
    color: white;
    cursor: pointer;
    
    padding: 1rem;
    border-radius: 5px;
    transition: all 0.3 ease;
  }
  
  #myBtn:hover {
    background-color: #555;
  }


@media (max-width: 600px) {

    header {
        flex-direction: column;
        padding: 0;
        padding-top: 5px;

    }
    .logo  {

        flex: 1 1;
    }
    .nav-list li div span {
        display: none;
    }
    
    .nav-list li:hover div span {
        display: none;
    }
    .nav-list {
        flex: 1 1 ;
    
    }
    .nav-list li {
        padding: 1.5rem 1rem;
    }
    .nav-list li a {
        font-size: 16px;
        margin: 0 7px;
    }
    .nav-list li:nth-child(1) {
        padding-left: 0;
    }
    .nav-list li:nth-child(4) {
        padding-right: 0;
    }
    .mywork-button {
        padding: 0.5rem 1.5rem;
    }
    .home-text {
        padding: 0 1rem;
    }
    .contact-me-button {
        padding: 0;
        background-color: black;
    }
    .nav-list li a:hover {
        font-size: 18px;
    }
    .mywork {
        grid-template-columns: repeat(2, 1fr);
    }

    
    
    .contact svg {
        height: 3em;
    }
    #myBtn {
        display: none;
    }
}
